/* This file contains the global variables, mixins, etc. */

/* Colors */

/*
 * Color scheme new:
 * background: FFF
 * basic text: 2E2F30
 * links: E37F71
 * accent color: 730E15 (ruby red)
 * accent color: 1A92CF
 * accent color: 3F3F3F
*/

// Dark grey, Text color
$color1: #3F3F3F;
// Twitter blue, main accent color
$color2: #1A92CF;
// Salmon, accent color
$color3: #E37F71;
// Ruby red, accent color
$color4: #730E15;

/* Minor margin */
$minor_margin: 10px;

/* Major margin */
$major_margin: 5%;

@mixin margin_side() {
  margin-right: $minor_margin;
  margin-left: $minor_margin;
}

@function prefix($property, $prefixes: (webkit moz o ms)) {
  $vendor-prefixed-properties: transform background-clip background-size;
  $result: ();
  @each $prefix in $prefixes {
    @if index($vendor-prefixed-properties, $property) {
      $property: -#{$prefix}-#{$property}
    }
    $result: append($result, $property);
  }
  @return $result;
}

@function trans-prefix($transition, $prefix: moz) {
  $prefixed: ();
  @each $trans in $transition {
    $prop-name: nth($trans, 1);
    $vendor-prop-name: prefix($prop-name, $prefix);
    $prop-vals: nth($trans, 2);
    $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
  }

  @return $prefixed;
}

@mixin transition($property: all, $duration: 1s, $timing_function: ease, $delay: 0s) {
  -webkit-transition: $property, $duration, $timing_function, $delay;
  -moz-transition: $property, $duration, $timing_function, $delay;
  -o-transition: $property, $duration, $timing_function, $delay;
  transition: $property, $duration, $timing_function, $delay;
}

@mixin font-face($style-name, $file, $family, $category:"") {
  $filepath: "fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: font_url($filepath + ".eot");
    src: font_url($filepath + ".eot?#iefix") format('embedded-opentype'),
    font_url($filepath + ".woff") format('woff'),
    font_url($filepath + ".ttf")  format('truetype'),
    font_url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}
