/* flexbox */

@import "common";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($val) {
  -webkit-flex-wrap: $val;
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

// flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}



.flex-container {
  @include flexbox();
  @include flex-wrap(wrap);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.flex-item {
  @include flex(1 1 auto);
  margin: $minor_margin;
}

.flex-item-tweet {
  @include flex(3 1 350px);
  max-width: 600px;
  min-width: 350px;
}

.flex-item-link {
  @include flex(4 1 250px);
  max-width: 800px;
  min-width: 250px;
}

/* flexbox classes for the frontpage */
.flex-container-front {
  margin-top: 3em;
  @include flexbox();
  @include flex-wrap(wrap);
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.flex-item-logo {
  @include flex(1 1 400px);
  margin: $major_margin;
  max-width: 400px;
}
.flex-item-trending {
  @include flex(1 1 30%);
  margin: $major_margin;
  overflow: hidden;
}