/* Styling for the switch buttons */

@import "common";

input[type="radio"]:empty {
  /*margin-left: -999px;*/
  /*visibility: hidden;*/
  display: none;
}

.switch-wrapper {
  width: 100%;
  min-width: 100%;
}
.twofold label {
  width: 50%;
  height: 3em;
  color: $color2;
  border: 1px solid $color2;
  border-right: none;
  // border-radius: [top-left] [top-right] [bottom-right] [bottom-left]
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.twofold label:last-of-type {
  border-left: none;
  border-right: 1px solid $color2;
  // border-radius: [top-left] [top-right] [bottom-right] [bottom-left]
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.trifold label {
  width: 33.333%;
  height: 60px;
  background-color: $color2;
  color: #fff;
}

.hide-radio + label {
  float: left;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.twofold .hide-radio:checked + label {
  background-color: $color2;
  color: #ffffff;
}

.trifold .hide-radio:checked + label {
  background-color: $color1;
}

.label-text {
  display: table;
  height: 100%;
  width: 100%;
}

.label-text p {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}