// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  width: 400px;
  padding: 3em 0 3em 0;
}

.logo img {
  width: 100%;
  height: auto;

}

.form {
//  height: 18.75em;
//  width: 25em;
  //  background: #fff;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%,-50%);
//  text-transform: uppercase;
  //  font-family: "Bebas Neue", Arial;
  //  color: #fff;
}

.form > div {
  height: 6.25em;
  width: 100%;
  border: 5px solid #fff;
  border-bottom: none;
}

.username {
  //  background-color: #4daf7c;
}

.username::after {
//  content: "";
//  width: 0px;
//  height: 0px;
//  position: absolute;
//  border-style: solid;
//  border-width: 0.5em 0.469em 0 0.469em;
//  border-color: #4daf7c transparent transparent transparent;
//  top: 6.25em;
//  left: 50%;
//  margin-left: -0.496em;
}

.password {
  //  background-color: #404241;
}

.password::after {
//  content: "";
//  width: 0px;
//  height: 0px;
//  position: absolute;
//  border-style: solid;
//  border-width: 0.5em 0.469em 0 0.469em;
//  border-color: #404241 transparent transparent transparent;
//  top: 12.5em;
//  left: 50%;
//  margin-left: -0.496em;
}

//.login {
//  //  background-color: #e9c85d;
//  display: table;
//}
//
//.login span {
//  display: table-cell;
//  vertical-align: middle;
//  text-align: center;
//  font-size: 3em;
//  cursor: pointer;
//  border-bottom: solid 5px #fff;
//  color: #D31901;
//}
//
//input {
//  height: 1.25em;
//  width: 8.125em;
//  font-size: 2em;
//  text-align: center;
//  border: 0;
//  outline: 0;
//  color: #D31901;
//  background: transparent;
//  //  border:0.033em #000 solid;
//  margin-left: 2.1875em;
//  margin-top: 1em;
//  //  font-family: "Bebas Neue", Arial;
//}

::placeholder {
  color: #D31901;
}

::-moz-placeholder {
  color: #D31901;
}

:-ms-input-placeholder {
  color: #D31901;
}

::-webkit-input-placeholder {
  color: #D31901;
}

.list {
  width: 500px;
  //  color: #730E15;

}

.list ul {
  width: 100%;
  list-style: none;
  background: #ffffff;
}

.list li {
  padding: 1em 3em 1em 3em;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.list li:last-child {
//  border-bottom: 5px solid black;
}
.static-list li:last-child {
  border-bottom: 5px solid black;
}
.link-list a:last-child li {
  border-bottom: 5px solid black;
}
.link-list li:hover {
  color: #ffffff;
  background: black;
}

#container {
  width: 90%;
  padding-bottom: 1em;
}

#container .item{
//  border: 5px solid red;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
//  width: 300px;

}

#tweet-container {
//  width: 100%;

}

.wide {
  width: 50%;
}

.medium {
  width: 30%;
}

.small {
  width: 300px;
}

#highlight {
  color: #D31901;
//  color: #E37F71;
}