// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";
@import "fonts";
@import "search";
@import "flexbox";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: clear_sansregular, "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}
*:focus {
  outline: none;
}

html, body {
  max-width: 2000px;
  width: 100%;
  height: 100%;
}

// Get rid of the dotted line around buttons when using firefox
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline : 0;
}

body {
  background: #fff;
  color: $color1;
}

h1 {
  padding: 1em 0 1em 0;
}

/* Links */

a, a:visited {
  outline: none;
  text-decoration: none;
  color: $color2;
}

a:hover, a:active, a:focus {
  color: $color1;
}

a:hover li {
  color: #ffffff;
  background: $color1;
}

a:active li, a:focus li{
  color: #ffffff;
  background: $color2;
}

/* Common classes */
.wrapper {
  padding: 1em 5% 1em 5%;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.content {
//  margin-left: 10px;
//  margin-right: 10px;
  @include margin_side();
}

/* Landing page logo */

.logo {
  width: 400px;
  padding: 3em 0 3em 0;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Lists */

.list {

}

.list ul {
  width: 100%;
  list-style: none;
  background: #ffffff;
}

.list li {
  padding: 1em 3em 1em 3em;
  border-top: 5px solid $color1;
  border-left: 5px solid $color1;
  border-right: 5px solid $color1;
}
.list > ul > li:last-of-type, .list a:last-of-type li {
  border-bottom: 5px solid #3F3F3F;
}

//.static-list li:last-child {
//  border-bottom: 5px solid #3F3F3F;
//}
//.link-list a:last-child li {
//  border-bottom: 5px solid #3F3F3F;
//}
//.link-list li:hover {
//  color: #ffffff;
//  background: #3F3F3F;
//}

/* Text and headline classes */

.highlight {
  //  color: #D31901;
  //  color: #E37F71;
  color: $color2;
}

.item-headline-container {
  position: relative;
  height: auto;
  min-height: 200px;
  width: auto;
}
.item-headline {
  position: absolute;
  bottom: 0;
}

/* Testing, derelict code */

.link-preview {}
.link-preview-title {}
.link-preview-descr {
  color: $color1;
  margin-top: 1em;
}

a:hover li .link-preview-descr {
  color: #ffffff;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: image_url('preloader.gif') center no-repeat #fff;
}

.list-test {
  color: #ffffff;
  background: $color2;
  border: none;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}

.full {
  width: 100%;
  height: 250px;
}

.wide {
  width: 50%;
}

.medium {
  width: 30%;
}

.small {
  width: 300px;
}

/*.grid {*/
/*width: auto;*/
/*margin-left: 5px;*/
/*margin-right: 5px;*/
/*}*/

/*.grid:after {*/
/*content: "";*/
/*display: table;*/
/*clear: both;*/
/*}*/

/*.grid-pad {*/
/*padding: 20px 0 20px 20px;*/
/*}*/

/*[class*='col-'] {*/
/*float: left;*/
/*padding-right: 20px;*/
/*}*/
/*[class*='col-']:last-of-type {*/
/*padding-right: 0;*/
/*}*/

/*.col-2-3 {*/
/*width: 66.66%;*/
/*}*/
/*.col-1-3 {*/
/*width: 33.33%;*/
/*}*/

/*.col-1-2 {*/
/*width: 50%;*/
/*}*/
/*.col-1-4 {*/
/*width: 25%;*/
/*}*/
/*.col-1-8 {*/
/*width: 12.5%;*/
/*}*/

/* Media */


@media only screen and (max-width: 450px) {
  .logo {
    width: auto;
  }
  .search-field {
    width: 85%;
  }
  .search-button {
    width: 15%
  }
  .list li.link-preview {
    padding: 1em 1em 1em 1em;
  }
}