<h1>Semesterprojekt Praktikum Software Engineering</h1>
<h2>Projektbeschreibung:</h2>
<p>
  <a href="http://www.swissdrg.org">SwissDRG</a>. Welche hashtags werden auf twitter im Bereich Technik synonym gebraucht?
  Graphisches Abbilden von jeweils 7 "nahestehenden" hashtags in einer Baum oder bubble-Struktur.
  Evtl. Aufzeigen, welche Begriffe in den zugehörigen Tweets in den letzten
  48h neu dazugekommen sind ("trending") oder aus der Reihe fallen.
</p>
