<% require_relative '../../../app/models/dbentry_fetcher'
   fetcher = DbentryFetcher.new %>
<div class="wrapper">
  <div class="center list">

    <div>
      <h1>Hashtags in the DB</h1>
      <ul class="static-list">

        <% hashtags = fetcher.fetch_hashtags %>
        <% hashtags.each do |entry| %>
            <li>
              <%= entry.get_text %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Authors in the DB</h1>
      <ul class="static-list">

        <% authors = fetcher.fetch_authors %>
        <% authors.each do |entry| %>
            <li>
              <%= entry.get_name %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Tweets in the DB</h1>
      <ul class="static-list">

        <% tweets = fetcher.fetch_tweets %>
        <% tweets.each do |entry| %>
            <li>
              <%= entry.get_text %></li>
        <% end %>

      </ul>
    </div>


  </div>
</div>