<div class="wrapper">
  <%= form_tag({controller: "index", action: "db_search"}, method: "get", class: "search") do %>
      <%= search_field_tag(:q, nil, class: "search-field") %>
      <%= submit_tag("Search", :name => nil, class: "search-button") %>
  <% end %>
  <div class="center list">
    <% if !@sobj.nil? %>
        <div>
          <h1>Tweets mit </h1>
        </div>
    <% end %>


  </div>
  <h1>sub</h1>
</div>
