<div class="wrapper">
  <%= form_tag({controller: "index", action: "db_search"}, method: "get", class: "search") do %>
      <%= search_field_tag(:q, nil, class: "search-field") %>
      <%= submit_tag("Search", class: "search-button") %>
  <% end %>
  <div class="center list">
    <% if !@sobj.nil? %>

        <% searchTerm = @sobj.getSearchTerms %>
        <% if searchTerm.nil? %>
            <p>nope</p>
        <% else %>
            <p>ok</p>
        <% end %>
    <% end %>


  </div>
  <h1>sub</h1>
</div>
