<% require_relative '../../../app/models/dbentry_fetcher'
   fetcher = DbentryFetcher.new %>
<div class="wrapper">
  <div id="container" class="center list">

    <div>
      <h1>Hashtags in the DB</h1>
      <ul class="static-list">

        <% hashtags = fetcher.fetchHashtags %>
        <% hashtags.each do |entry| %>
            <li>
              <%= entry.getText %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Authors in the DB</h1>
      <ul class="static-list">

        <% authors = fetcher.fetchHashtags %>
        <% authors.each do |entry| %>
            <li>
              <%= entry.to_s %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Tweets in the DB</h1>
      <ul class="static-list">

        <% tweets = fetcher.fetchHashtags %>
        <% tweets.each do |entry| %>
            <li>
              <%= entry.to_s %></li>
        <% end %>

      </ul>
    </div>

  </div>
</div>