<div class="wrapper">
  <div class="center list">
    <h1>Don't know where to start? <span class="slabtext">Select one of these:</span></h1>
    <ul class="static-list">

      <% @topics.each do |element| %>
          <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
      <% end %>

    </ul>
  </div>
</div>


