<div class="wrapper">
  <%= form_tag({controller: "index", action: "db_search"}, method: "get", class: "search") do %>
      <%= search_field_tag(:q, nil, class: "search-field") %>
      <%= submit_tag("Search", :name => nil, class: "search-button") %>
  <% end %>
  <div class="center logo">
    <%= image_tag("megaultra_ruby.png", class: "logo") %>
  </div>
</div>
