<div class="wrapper">
  <div class="center list">
    <h1>Liste der Themen</h1>
    <ul>
      <li>
        Thema
      </li>
      <li>
        Thema
      </li>
      <li>
        Thema
      </li>
      <li>
        Thema
      </li>
    </ul>
  </div>
</div>