<!--404-->
<div class="wrapper" id="content">
  <div class="center error">
    <h1 class="ohno">Oh no! You broke something!</h1>
    <h1 class="explode">Your device might explode!</h1>
    <h1 class="highlight count">404</h1>
    <h2>File not found</h2>
    <%= link_to(root_path) do %>
      <button><h2>Abort!</h2><h2>Abort!</h2></button>
    <% end %>

  </div>


</div>

